@import "../../styles/media-queries-scss-mixins.scss";

.cardBoard {
  background: #ffff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  z-index: 100;
  gap: 15px;
  padding: 3rem;
  border-radius: 15px;
  border: 10px solid #ededed;
  -webkit-box-shadow: 8px 8px 24px 0px rgb(45, 45, 45);
  -moz-box-shadow: 8px 8px 24px 0px rgb(52, 52, 52);
  box-shadow: 8px 8px 24px 0px rgb(52, 52, 52);

  @include xs {
    gap: 12px;
    padding: 2rem 2rem;
  }
}
