@use "src/styles/variables.scss";

.wrapper {
  background: variables.$modalBackground;
  border: variables.$modalBorder;
  border-radius: 8px;
  box-sizing: border-box;
  border-radius: 10px;
  width: min(80%, 500px);
  height: 205px;
  color: white;
  font-size: 1rem;

  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;

    h1 {
      line-height: 5px;
    }

    .form {
      font-size: 1.5rem;
      font-weight: bold;

      label {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 14px;
        input {
          background: rgba(238, 238, 238, 0.2);
          border-radius: 10px;
          border: none;
          padding: 10px 5px 10px 5px;
          width: 50%;
          text-align: center;
          font-size: 1.6rem;
          font-weight: bold;
          color: white;
        }
      }
    }
  }
}
