@import "../../styles/media-queries-scss-mixins.scss";

.card {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px solid rgba(197, 197, 197, 0.4);
  background: rgb(225, 225, 225);
  background: radial-gradient(
    circle,
    rgba(240, 240, 240, 0.7) 35%,
    rgba(179, 179, 179, 0.8) 250%
  );
  -webkit-box-shadow: 5px 3px 13px -5px rgba(187, 187, 187, 1);
  -moz-box-shadow: 5px 3px 13px -5px rgba(187, 187, 187, 1);
  box-shadow: 5px 3px 13px -5px rgba(187, 187, 187, 0.8);

  @include xs {
    width: 80px;
    height: 100px;
  }

  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 70%;

    img {
      height: 100%;
    }
  }
}
