.app {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/Background.svg");
  background-repeat: none;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.game {
  display: flex;
  flex-direction: column;
}

.cardBoard {
  background: rgb(107, 106, 106);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  padding: 3rem;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.422);
}

/* .card {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background: red;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.681);
} */
