.app {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/Background.svg");
  background-repeat: none;
  background-size: cover;
  background-position: center;
  height: 100vh;

  .game {
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
    position: relative;
  }
  .settingIcon {
    display: flex;
    justify-content: flex-end;
    .settingsBtn {
      cursor: pointer;
      height: 34px;
      filter: drop-shadow(0 0 6px rgba(102, 102, 102, 0.459));
    }
  }
}
