.app {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .game {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-items: flex-end;
    position: relative;

    .ryder {
      position: absolute;
      left: 20px;
      top: 0;
      z-index: 10;
    }
  }
  .settingIcon {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    .settingsBtn {
      cursor: pointer;
      height: 34px;
      filter: drop-shadow(0 0 6px rgba(102, 102, 102, 0.459));
    }
  }
}
